 /* .App {
   background-color:aliceblue;
   height: 100vh;
   text-align: center;

 }

 

 

 .container {
   /* background-color: black !important; */
 /* } */

 /* .inputb {
   width: fit-content
 }
 .form-control{
  text-align: right;
  font-size: 50px !important
 /* } */

 /*
.App-header {
  background-color: lightblue;
   min-height: 100vh; 
  display: flex;
  flex-direction: column;
   align-items: center; 
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: green;


}

.App-link {
  color: #61dafb;
} */
 .App {
   /* text-align: center; */
   background-color: grey ;
 }

 /* .top-1{
  height: auto;
  border: 1px solid red;
  width: auto;
} */
 /* .btn-size-1{
  width : 552px;
} */
 

 